body {
  background-color: #5DA3FA;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  
}

.box {
  width: auto;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.icons {
  font-size: 25px;
  color: #E07C24;
  
}
.icon {
  font-size: 25px;
  color: #8D3DAF;
  
}
.pen {
  font-size: 25px;
  color: #242B2E;
  
}
.turnhead{
  color:#E6425E;
}
.circleCol{
  color:#E07C24;
}
.crossCol{
  color:#8D3DAF
}